body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
}

.logo {
    height: 50px;
    width:200px;
    margin-top: 4px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:focus {
    background-color: #DB8876;
}

#contact_modal {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 60%);
    z-index: 250;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 140px ;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 5%);
}

.form-header {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
}

.form-header button {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

.form-header button:hover {
    filter:brightness(0);
}

.form-header button:focus {
    filter:brightness(0);
}

.form-header h1 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #000000;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    margin-top: 8px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border-radius: 5px;
    font-family: "DM Sans", arial;
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    overflow: scroll;
    padding-left: 10px;
    
}

form textarea {
    width: 100%;
    height: 68px;
    border-radius: 5px;
    font-family: "DM Sans", arial;
    color: #312E2E;
    font-size: 36px;
    font-weight: 400;
    overflow: scroll;
}

form .contact-button {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    font-family: "DM Sans", arial;
}

.smallText {
    height: 68px;
}

.longText {
    height:170px ;
}


.photograph-header {
    background-color: #FAFAFA;
    min-height: 312px;
    height: auto;
    max-width: 1240px;
    min-width: 320px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.textInfoBox {
    margin-left: 50px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-family: "DM sans", arial;
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

.photographer-place {
    font-family: "DM sans", arial;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin-top: 12px;
}

.photographer-quote {
    font-family: "DM sans", arial;
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin-top: 16px;
}

.contact-button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position:relative;
}

.contact-button:hover {
    background-color: #DB8876;
    color: #000000;
}

.contact-button:focus {
    background-color: #DB8876;
    color: #000000;
}


.profile-picture-container {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.profile-picture-back-filter {
    box-shadow: inset 0px 0px 14px 34px rgba(250, 250, 250, 100%);
}

.filter-section {
    height: 80px;
    display: flex;
    margin: auto;
    margin-bottom: 60px;
    max-width: 1240px;
    width: 100%;
    align-items: center;
    position: relative;
}


.filter-section label {
    font-family: "DM Sans", arial;
    font-size: 18px;
    font-weight: 800;
}

.filter-section button {
    font-family: "DM Sans", arial;
    font-size: 18px;
    font-weight: 800;
    background-color: #901C1C;
    height: 55px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    width: 170px;
    color: white;
    border: none;
    cursor: pointer;
}
.filter-section button:hover {
    background-color: #DB8876;
    color: #000000;
    border-radius: 0;
}

.filter-section button:focus {
    background-color: #DB8876;
    color: #000000;
    border-radius: 0;
}

.sortMenu {
    margin-left: 40px;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 5%);
    background-color: #901C1C;
    border-radius: 8px;
    width: 170px;
    height: 55px;
    position: absolute;
    top: 10px;
    left: 70px;
    overflow: hidden;
    z-index: 200;
}

#dropdownIcon {
    position: absolute;
    right: 16px;
    top: 18px;
}

.dropdownFilterList {
    position: absolute;
    background-color: #901C1C;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.whiteline {
    width: 145px;
    height: 1px;
    background-color: white;
}

.selectFilterButton {
    position: absolute center center;
}



.media-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}



article {
    max-width: 350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.image-preview {
    cursor: pointer;
}

article img {
    object-fit: cover;
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

article video {
    object-fit: cover;
    width: 350px;
    height: 300px;
    border-radius: 5px;
}


article h2 {
    font-family: "DM Sans", arial;
    font-size: 24px;
    font-weight: 400;
    color: #911C1C;
    max-width: 80%;
}

.likesBoxLabel {
    width: 80px ;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    font-family: "DM Sans", arial;
    font-size: 24px;
    font-weight: 500;
    color: #911C1C;
}


.mediaLikes {
    position: absolute;
    left: 6px;
}

.heart-front {
    color: #911C1C;
    font-size: 22px;
    cursor:pointer;
    position: absolute;
    top: 4px;
    right: 6px;
}

.totalLikesHeart {
    position: absolute;
    left: 120px;
}

.media-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.box-likes-price {
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 36px;
    height: 70px;
    width: 380px;
    border-radius: 6px 6px 0 0;
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.boxprice {
    min-width: 100px;
    font-size: 24px;
    font-weight: 500;
    font-family: "DM Sans",arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
}

.boxlikes {
    min-width: 100px;
    font-size: 24px;
    font-weight: 500;
    font-family: "DM Sans",arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px;

}


.lightBox {
    position: fixed;
    z-index: 260;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: white;
    display: none;
}

dialog {
    width: 100%;
    height: 100%;
    border: none;
}

.lightBoxBody {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1240px;
    margin: auto;
}

.centercolumn {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.centercolumn .emptyDiv {
    height: 30px;
}

.centercolumn .lightboxMediaContainer {
    max-width: 1050px;
    max-height: 900px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.lightboxMedia {
    width: 100%;
    max-height: 80vh;
    object-fit:cover;
    object-position: 100% 30%;
}


.mediaTitle {
    height: 30px;
    color: #911C1C;
    font-size: 24px;
    font-weight: 400px;
}

.leftcolumn {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
}

.leftcolumn a {
    color: #901C1C;
    width: 100px;
    height: 100px;
    font-family: "DM Sans", arial;
    font-size: 74px;
    font-weight: 900;
    padding:0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scaleY(1.2);
    text-align: center;
}

.leftcolumn a:hover {
    color: #DB8876;
}

.leftcolumn a:focus {
    color: #DB8876;
}

.rightcolumn {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.rightcolumn a {
    color: #911C1C;
    width: 100px;
    height: 100px;
    font-family: "DM Sans", arial;
    font-size: 74px;
    font-weight: 900;
    padding:0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scaleY(1.2);
    text-align: center;
}

.rightcolumn a:hover {
    color: #DB8876;
}

.rightcolumn a:focus {
    color: #DB8876;
}

.rightcolumn button {
    position: relative;
    width: 90px;
    height: 90px;
    padding: 20px;
    cursor: pointer;
}

.rightcolumn button:hover {
    filter: brightness(4) saturate(0.7) ;
}

.rightcolumn button:focus {
    filter: brightness(4) saturate(0.7) ;
}

.rightcolumn .emptyDiv {
    width: 100px;
    height: 100px;
}

.closeButton {
    border: none;
    background-color: transparent;
}