
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    height: auto;
    flex-wrap: wrap;
    margin: 42px 100px 0 100px;
}

h1 {
    color: #901C1C;
    font-size: 36px;
    font-weight: 400;
}

.logo {
    height: 50px;
    width:200px;
}

.photographer_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    position: relative;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    min-width: 300px;
    width: 27%;
    height: 380px;
    position: relative;
    text-align: center;
    flex-wrap: wrap;

}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.profile-picture-container {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
}


.profile-picture-front {
    position: absolute;
    display: block;
    height: 228px;
    width: 228px;
    clip-path: circle(36%);
    padding:2px;
    object-fit: cover;
    margin: 0;
    z-index: 2;
    border: none;
    cursor: pointer;
}

.profile-picture-back-filter {
    display: flex;
    display: block;
    height: 244px;
    width: 244px;
    position: absolute;
    border-radius: 100px;
    z-index: 1;
    padding: 0px;
    box-shadow: inset -6px -6px 14px 34px rgba(255, 255, 255, 100%);
}

.profile-picture-background {
    position: absolute;
    display: block;
    border-radius: 1000px;
    clip-path:none;
    object-fit: cover;
    z-index: 0;
    filter: brightness(1.1) saturate(2) opacity(14%);
    height: 232px;
    width: 232px;
    padding:0;
}

.photographer_section article p {
    margin: 0;
}


.photographer_section article .photographer_place {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
}

.photographer_section article .photographer_quote {
    font-size: 10px;
    font-weight: 400;
    color: #000;
}

.photographer_section article .photographer_price {
    font-size: 9px;
    font-weight: 400;
    color: #757575;
}